doctype

html(lang="ru")
  
  -var active = 'Contacts' //активный пункт меню, список в header.jade
  -var pageTitle = 'Contacts' + ' - APM Group' //title страницы для генерации верстки  

  include ./_include/_head

  body.body
    // Preloader
    include ./_include/_preloader
    
    .base
      include ./_include/_header
      
      // Content
      .content
        .container
          
          .section__head.section__head--big
            h1 Contacts
          
          .text-center
            p Interested in car leasing or van buy parts? Business or Personal? One vehicle or a fleet of one hundred? Whatever your requirements - our friendly and informative experts are always here to help.
            p Feel free to come and visit us, give us a call, email us or complete your details on the contact form below.
            
          // Contants
          .section.contacts
            .row
              .col-lg-5.col-lg-offset-1.col-sm-6
                
                .contacts__text
                  .contacts__title Contact Information
                  
                  table
                    tr
                      td
                        i.ion-ios-location
                      td 
                        strong.name UAE, Dubai World Central, Dubai South
                    tr
                      td
                        i.ion-android-call
                      td 00971 52 872 8887
                    tr
                      td
                        i.ion-android-call
                      td 00971 52 450 4739
                    tr
                      td
                        i.ion-android-mail
                      td info@apm.group
                  
                  table
                    tr
                      td
                        i.ion-clock
                      td Our office opening hours are:
                        br
                        | Mon to Fri 8am - 6pm
                        br
                        | Sat 9am - 5pm
                  
                  p Whatever your car leasing needs - we'll always find the best package for you.
                
              .col-lg-4.col-lg-offset-1.col-sm-6
                .contacts__form
                  .contacts__title Enquiry form
                  .form
                    form(action="#")
                      fieldset
                        .form-group.custom-input.has-error
                          label(for="input-name") Name
                          input#input-name(type="text" name="name" placeholder="Name").form-control
                          i.ion-alert-circled
                        .form-group.custom-input
                          label(for="input-email") Email
                          input#input-email(type="email" name="email" placeholder="Email").form-control
                          i.ion-alert-circled
                        .form-group.custom-input
                          label(for="input-phone") Phone
                          input#input-phone(type="phone" name="phone" placeholder="Phone").form-control
                          i.ion-alert-circled
                        .form-group.custom-input
                          label(for="input-message") Message
                          textarea#input-message(name="message" placeholder="Message").form-control
                          i.ion-alert-circled
                        
                        button(type="button").btn.btn--blue
                          span Send
      
          // Map
          .map
            #map_canvas.map__body
              
          // Google Map
          script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
          script.
            function initialize() {
            var myLatlng = new google.maps.LatLng(24.9246382,55.04397);
            var map_options = {
              zoom: 12,
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              center: myLatlng,
              scrollwheel: false,
              disableDefaultUI: true
            }
            var map = new google.maps.Map(document.getElementById('map_canvas'), map_options)
            var myIcon = new google.maps.MarkerImage('./img/map-icon.png', null, null, null, new google.maps.Size(113,147));
            var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              icon: myIcon
            });
            /* Remove if you dont want B/W Google Map */
            
            var styles = [
                {
                    "featureType": "administrative",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#444444"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#f2f2f2"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 45
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#46bcec"
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                }
            ];
            map.setOptions({styles: styles});
            
            }
            google.maps.event.addDomListener(window, 'load', initialize);
          // Google Map Ends!

      
      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
