doctype

html(lang="ru")
  
  -var active = 'About us' //активный пункт меню, список в header.jade
  -var pageTitle = 'About us' + ' - APM Group' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    .base
    
      // Preloader
      include ./_include/_preloader
      
      include ./_include/_header
      
      // Content
      .content
        .container
          
          .section__header.section__header--big
            h1 about  us
          
          .row
            .col-lg-7.col-md-6.about__text-first
              img(src="./img/about-logo-1.png", alt="").about__img.about__img--first.visible-sm
              p 
                strong Auto Parts Market 
                | &nbsp;is a complete solution to increase the profit of each company operating in the field of automotive business.
              p Our main area is the spare parts wholesale (for Japanese, Korean and German cars).
              p Our stock is constantly maintained in the presence of a large range of parts and accessories. Here you will find both original parts and certified duplicates for all cars series.
              p Therefore we deliver only high quality goods, focusing on long-term cooperation.
              p We respect our customers and doing everything to save their money and time.
              p We see a huge space for innovation in the business and implement our own developments to simplify the work process.
              
            .col-lg-5.col-md-6.hidden-sm
              img(src="./img/about-logo-1.png", alt="").about__img.about__img--first
          
          .row
            .col-lg-7.col-lg-push-5.col-md-6.col-md-push-6.about__text-second
              img(src="./img/about-logo-2.png", alt="").about__img.about__img--second.visible-sm
              .h3 Our Directions
              ul.list.list--mark
                li Supplies from the warehouses all over the world
                li Collective procurement;
                li Tailor made spare parts manufacturing by the South Korean, Taiwan, Malaysian, Indian factories;
                li Create and promote your own brand;
                li Transport logistics;
                li Audit and setting training system and development of your staff.
              
              p Our well-established system of supplies will allow you to implement orders from anywhere in the world easily, quickly and at the lowest cost.
              p
                strong You can always be assured in competent and friendly service, the speed and accuracy of the orders processing and high quality of supplied spare parts!
                
            .col-lg-5.col-lg-pull-7.col-md-6.col-md-pull-6.hidden-sm
              .hidden-sm.hidden-xs
                .clear60
              img(src="./img/about-logo-2.png", alt="").about__img.about__img--second
          
          .clear
          hr
          
          .h3 spare parts for brands
      
      include ./_include/_footer
      div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    include ./_include/_footer-js
    // Load Scripts
    script(src="./js/libs.js")
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
