// Header
header.header
  .container
    
    .header__logo
      a(href="index.html")
        img(src="./img/logo.png", alt="")
        
    .header__links
      ul
        li.active
          a(href="#!" data-item="0") Rent
        li
          a(href="#!" data-item="1") Parts
        li
          a(href="#!" data-item="2") Sale
    
    -var navigation = { 'Home': 'index.html', 'About us': 'about.html', 'Parts': 'parts.html', 'News': 'news.html', 'Contacts': 'contacts.html'};
    
    .header__language
      ul
        li.active
          span En
        li
          a(href="#!") Ru
    
    nav.header__nav(role="navigation")
      button#header__button.header__button
        .hamburger.hamburger--arrowturn.js-hamburger
          .hamburger-box
            .hamburger-inner 
        span menu
        
      .header__nav-wrapper
        ul
          each val, key in navigation
            if active === key
              li.active
                a(href=val, title=key)= key
            else
              li
                a(href=val, title=key)= key
        .header__social
          a(href="#!")
            img(src="./img/icon/icon-facebook.svg", alt="")
          a(href="#!")
            img(src="./img/icon/icon-youtube.svg", alt="")
          a(href="#!")
            img(src="./img/icon/icon-instagram.svg", alt="")
    
